<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.github.polybooks">
    <!--
    Should we only allow for back-cameras? If yes, keep this line commented out
    <uses-feature android:name="android.hardware.camera.any" />
    -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PolyBooks">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".activities.ScanBarcodeActivity"
            android:parentActivityName=".activities.AddSaleActivity" />
        <activity android:name=".activities.FillSaleActivity"
            android:parentActivityName=".activities.AddSaleActivity"/>
        <activity android:name=".activities.AddSaleActivity"
            android:parentActivityName=".activities.MainActivity"/>

        <activity android:name=".activities.LoginActivity"
            android:parentActivityName=".activities.MainActivity"/>

        <activity android:name=".activities.UserProfileActivity"
            android:parentActivityName=".activities.MainActivity"/>

        <activity android:name=".activities.RegisterActivity"
            android:parentActivityName="activities.MainActivity"/>


        <activity android:name=".activities.FilteringSalesActivity"
            android:parentActivityName=".activities.MainActivity"/>
        <activity
            android:name=".activities.ListBooksActivity"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.ListSalesActivity"
            android:parentActivityName=".activities.FilteringSalesActivity" />
        <activity
            android:name=".activities.FilteringBooksActivity"
            android:parentActivityName=".activities.MainActivity"/>

        <activity
            android:name=".activities.SaleInformationActivity"
            android:parentActivityName=".activities.ListSalesActivity" />

        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>